.ChatMain
  .RightHeader
    .HeaderGroup
      .HeaderGroup__groupName
        = @group.name
      %ul.HeaderGroup__memberList
        Member : 
        - @group.users.each do |user|
          %li.HeaderGroup__memberList--member
            = user.name
    = link_to edit_group_path(@group), class: "RightHeader__editBtn" do
      Edit

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .FormContents
        = f.text_field :content, class: 'FormContents__message', placeholder: 'type a message'
        = f.label :image, class: 'FormContents__imageLabel' do
          = icon('far', 'image', class: 'FormContents__imageIcon')
          = f.file_field :image, class: 'FormContents__imageFile' 
      = f.submit 'Send', class: 'Form__submitBtn'